@import "../../utils/common.scss";

.root {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    color: $primary-color;
    background: $text-color;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    min-width: 40vw;
    border: 5px solid $primary-color;
    @include for-size(phone-only) {
        min-width: 80vw;
    }
    button {
        position: absolute;
        top: 1em;
        right: 1em;
    }
}